extends layout

block content
  h1= title
  p Bienvenido a #{title}. Aquí podrás explorar las publicaciones de la Tecnicatura en Desarrollo de Software.
  p Para comenzar, explora las categorías o accede a tu cuenta.
  a.btn.btn-primary(href='/posts') Ver Publicaciones
